@model LearningMVC.Models.CollegeModel

@{
    ViewData["Title"] = "CollegeDetail";
}

<h1>CollegeDetail</h1>

<div>
    <h4>CollegeModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollegeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollegeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollegeAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollegeAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.University)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.University)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
